<div class="container">
    <div class="card shadow mb-4">
        <table class="table table-striped">
            <tr class="bg-primary text-white"><th>image</th><th>decription</th><th>--</th><th>Action</th><th>--</th></tr>
            <thead>
                <tr>
                    <th>Liste des flux</th>
                </tr>
            </thead>
            <tbody *ngFor="let rss of RssData?.rss?.channel">
                <tr>
                    <td>{{rss.image}}</td>
                    <td>{{rss.description}}</td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn">
                        edit
                      </span>
                    </td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn">
                        keyboard_arrow_right
                      </span>
                    </td>
                    <td>
                        <span class="material-icons bg-primary text-white p-2 rounded-circle btn">
                            delete
                        </span>
                        <!--<button class="btn btn-outline-danger mr-3" type="button" (click)="deleteVisite(visite)">supprimer</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>